{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>Gönderi Oluştur</h2>
    <hr>
    <div class="container">
        <form action="{% url 'create_post' %}"
              method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="post_title" class="form-label">Başlık</label>
                <input type="text"
                       class="form-control"
                       id="post_title"
                       name="post_title"
                       placeholder="Başlık"
                       required>
            </div>
            <div class="mb-3">
                <label for="post_content" class="form-label">İçerik</label>
                <textarea class="form-control"
                          style="white-space: pre-wrap"
                          id="post_content"
                          name="post_content"
                          rows="10"
                          required></textarea>
            </div>
            <div class="mb-3">
                <label for="post_image" class="form-label">Fotoğraf Yükle</label>
                <input class="form-control" type="file" id="post_image" name="post_image">
            </div>
            <div class="d-flex justify-content-end mb-3">
                <button class="btn btn-primary" type="submit">Oluştur</button>
            </div>
        </form>
    </div>
{% endblock content %}
